/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Debug */
.debug,
.debug > * {
    border: 3px dashed red;
    padding: 6px;
   min-height: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 900px;
    
}

.muted {
    color: #7c7c7c;
    font-size: 0.8rem;
}

/* Sezione prezzi */

#pricing {
    padding: 2rem 0;
}

.card-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
     /* spazio totale /numero colonne - (gap * numero di spazi) / numero di colonne */
     width: calc(100% / 3 - 1rem * 2 / 3);
}

.card-price {
    text-align: center;
}




