/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colori */
:root {
    --primary-color: #6500ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Debug */
.debug,
.debug > * {
    border: 3px dashed red;
    padding: 6px;
   min-height: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 900px;
    
}

.muted {
    color: #7c7c7c;
    font-size: 0.8rem;
}

/* card button */

.btn {
    display: block;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 2rem;
    font-weight: bold;
    border: none;
    border: 2px solid currentColor;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-secondary {
    color: var(--primary-color);
    color: var(--primary-color);
    background-color: white;
}




/* Sezione prezzi */

#pricing {
    padding: 2rem 0;
}

.card-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
     /* spazio totale /numero colonne - (gap * numero di spazi) / numero di colonne */
     width: calc(100% / 3 - 1rem * 2 / 3);
}

.card-price {
    text-align: center;
}

.call-to-action .btn {
    width: 100%;
}






